
.calendar {
  table {
    width: 100%;

    th {
      font-size: 1.2em;
      padding-bottom: 10px;
    }

    td {
      
      &.cell {
        border: 1px solid #ddd;
        width: 13%;

        &:hover {
          background: #eee;
        }
      }

      height: 20px;
    }
  }
}

.calendar-list {
  padding: 0;

  li {
    list-style: none;
  }
}